/*.split-view-contents.split-view-contents-vertical.outline-disclosure {
    background-color: rgb(1, 57, 70) !important;
}*/
body.platform-mac.platform-mac-snowleopard .monospace, body.platform-mac.platform-mac-snowleopard .source-code {
  font-size: 13px !important;
  font-family: Monaco, Menlo, monospace !important;
}
input[type="checkbox"]{
    width: 14px;
    height: 14px;
    margin: 2px 0 0 2px !important;
}
.webkit-css-comment {
    color: rgb(89, 183, 251) !important;
}

.webkit-css-url, .webkit-css-color, .webkit-css-string, .webkit-css-keyword {
    color: rgb(47, 166, 187) !important;
 }

.webkit-css-number {
    color: rgb(255, 108, 91) !important;
}

.webkit-css-property, .webkit-css-at-rule {
    color: rgb(164, 193, 59) !important;
}

.styles-section .selector-matches, .styles-section .selector-matches+span, .properties.properties-tree.monospace+div {
    color: rgb(47, 166, 187) !important;
}

.properties.properties-tree.monospace>li.parent>span.value {
    color: rgb(255, 111, 179) !important;
}

.webkit-css-selector {
    color: rgb(42, 161, 152) !important;
}

.webkit-css-bang-keyword {
    color: rgb(42, 161, 152) !important;
}

.webkit-html-text-node.webkit-html-js-node {
    color: rgb(149, 165, 167) !important;
}
.webkit-javascript-comment {
    color: rgb(0, 116, 0);
}

.webkit-javascript-keyword {
    color: rgb(47, 166, 187) !important;
}

.webkit-javascript-number {
    color: rgb(28, 0, 207);
}

.webkit-javascript-string, .webkit-javascript-regexp {
    color: rgb(255, 108, 91) !important;
}

.webkit-javascript-ident {
    color: rgb(255, 111, 179) !important;
}

.webkit-html-comment {
    /* Keep this in sync with view-source.css (.webkit-html-comment) */
    color: rgb(35, 110, 37);
}

.webkit-html-tag {
    /* Keep this in sync with view-source.css (.webkit-html-tag) */
    color: rgb(230, 134, 64) !important;
}

.webkit-html-doctype {
    /* Keep this in sync with view-source.css (.webkit-html-doctype) */
    color: rgb(192, 192, 192);
}

.webkit-html-attribute-name {
    /* Keep this in sync with view-source.css (.webkit-html-attribute-name) */
    color: rgb(164, 193, 54) !important;
}

.webkit-html-attribute-value, .webkit-html-resource-link {
    /* Keep this in sync with view-source.css (.webkit-html-attribute-value) */
    color: rgb(255, 108, 91) !important;
}

.webkit-html-external-link, .webkit-html-resource-link {
    /* Keep this in sync with view-source.css (.webkit-html-external-link, .webkit-html-resource-link) */
    color: #00e;
}

.webkit-html-external-link {
    /* Keep this in sync with view-source.css (.webkit-html-external-link) */
    text-decoration: none;
}

.webkit-html-external-link:hover {
    /* Keep this in sync with view-source.css (.webkit-html-external-link:hover) */
    text-decoration: underline;
}

