<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>membership-platforms</string>
    <key>WorkingDirectory</key>
    <string>/Users/sarbbo/GitHub/conf-files/remote-sync/</string>
    <key>EnableGlobbing</key>
    <true/>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/sarbbo/GitHub/conf-files/remote-sync/remote-sync</string>
        <string>/Users/sarbbo/GitCorp/membership-platforms</string>
        <string>decentrecent.corp.ne1.yahoo.com</string>
        <string>/home/sarbbo/GitCorp/membership-platforms</string>
    </array>
    <key>WatchPaths</key>
    <array>
        <string>/Users/sarbbo/GitCorp/membership-platforms/</string>
    </array>
</dict>
</plist>
